{
        email caddy@duckhunt.me
}

v4.duckhunt.me {
        encode zstd gzip
        reverse_proxy /api/* duckhunt_bot:8080

        log {
            output stderr
            format console
            level DEBUG
        }

        @notStatic {
            not path /static/*
        }

        reverse_proxy @notStatic duckhunt_website:8080
        file_server {
            root   /
            index  index.html index.txt index README.md
        }

}
