{
        email caddy@duckhunt.me
        trusted_proxies static private_ranges
}

v4.duckhunt.me {
        encode zstd gzip
        reverse_proxy /api/* duckhunt_bot:8080

        log {
            output stderr
            format transform "{common_log}"
            level DEBUG
        }

        log {
            output file /logs/access.log {
                roll_size     100m
                roll_keep     3
                roll_keep_for 30d
            }

            format json
            level DEBUG
        }

        route {
	        header /static/* Cache-Control max-age=86400
        }

        route {
	        header /images/* Cache-Control max-age=172400
        }

        @notStatic {
            not path /static/* /local/* /images/*
        }

        reverse_proxy @notStatic duckhunt_website:8080
        file_server {
            root   /
            index  index.html index.txt index README.md
        }
}
