{
        email caddy@duckhunt.me
}

v4.duckhunt.me {
        encode zstd gzip
        reverse_proxy /api/* duckhunt_bot:8080

        log {
            output stderr
            format single_field common_log
            level DEBUG
        }

        log {
            output file /logs/access.log.jsons {
                roll_disabled
                roll_size     3m
                roll_keep     1
                roll_keep_for 30d
            }

            format json
            level DEBUG
        }

        route {
	        header /static/* Cache-Control max-age=86400
        }

        @notStatic {
            not path /static/*
        }

        reverse_proxy @notStatic duckhunt_website:8080
        file_server {
            root   /
            index  index.html index.txt index README.md
        }
}
